@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary_heavy: var(--primary_heavy);
}

:root {
  --background: #f2f0f4;
  --foreground: #3f3f47;
  --primary: #fffbff;
  --primary_heavy: #f2f0ff;
  --border: #e4e4e7;
}
.dark {
  --background: #09090b;
  --foreground: #ffffff;
  --primary: #60a5fa;
  --border: #27272a;
}
